$lightGrayColor: #e3e3e3;
$lightGrayColorOpacity: #e3e3e35b;
$darkBlue : #282c36;
$pureBlue: #337ab7;
$whiteColor: #fff;
$extraLightGray: #ebecf0;
$darkGray: #999;
$darkerGray: #666;
$danger: #da4c14;

// Fonts
$headerFont: 'Passion One', cursive;
$primaryFont: 'Nanum Gothic', sans-serif;   // font-family: 'Rubik', sans-serif;